* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: #230202;
    color: rgba(222, 222, 222, 1);
    /* font-family: 'Poppins', sans-serif; */
}

.App {
    min-height: 100vh;
    display: flex;
}

.sideBar {
    flex: 3;
    border-right: 1px solid rgb(124, 35, 8);
}

.main {
    flex: 9;
}

.logo {
    margin-right: 1rem;
}

.brand {
    font-size: 2.5rem;
    font-family: 'Optima', sans-serif;
    color: rgb(186, 181, 181);
}

.upperSide {
    padding: 2.5rem;
    /* border-bottom: 1px solid rgb(124, 35, 8);
    height: 70%; */
}

.upperSideTop {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}
.upperSideTop>img {
    width: 6rem;
    height:6rem;
    border-radius: 0.5rem;
}

.addBtn {
    height: 2rem;
    padding-right: 1rem;
}

.midBtn {
    background: rgb(165, 42, 42);
    border: none;
    color: rgba(222, 222, 222, 1);
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
}

.midBtn:active {
    background: rgb(192, 37, 23);
}

.heading {
    font-size: 2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: rgb(186, 181, 181);
    font-family: 'Optima', sans-serif;
}

.queryTopic {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.query {
    display: flex;
    align-items: center;
    background: transparent;
    color: rgba(222, 222, 222, 1);
    padding: 1.5rem;
    width: 25rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid rgb(124, 35, 8);
}

.query:active {
    background: rgb(165, 42, 42);
}

.query>img {
    margin-right: 2rem;
    object-fit: cover;
    height: 1.75rem;
}

.main {
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 10rem;
    margin-bottom: 0;
}

.chats {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 17rem);
}

.chat {
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.chatImg {
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}

.bot {
    background: rgb(124, 48, 48);
    width: fit-content;
    border-radius: 0.5rem;
}

.visual {
    object-fit: cover;
    width: 50rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}

.chatFooter {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inp {
    padding: 0.5rem;
    background: rgb(124, 48, 48);
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    width: 68rem
}

.inp>input {
    width: calc(100% - 3rem);
    outline: none;
    padding: 1.25rem;
    color: rgba(222, 222, 222, 1);
}

.inp>input, .send {
    background: transparent;
    border:none;
}

.inp>input::placeholder{
    color: rgb(186, 181, 181);
}

.chatFooter>p {
    margin: 2rem 0;
}

.txt {
    line-height: 2.4rem;
    color: rgba(222, 222, 222, 1);
}